---
import type { SiteConfig } from "@types";

type Props = Pick<SiteConfig, "author" | "socialLinks">;

const { author, socialLinks } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="w-full border-t border-neutral/20 px-5 pt-5 pb-8 text-center text-white"
>
  <ul class="mb-5 flex flex-wrap justify-center gap-x-5 text-xs">
    {
      socialLinks.map(({ text, href }) => (
        <li>
          <a
            href={href}
            target="_blank"
            class="inline-block px-4 py-3 after:relative after:bottom-[-4px] after:content-[url(/external.svg)] hover:text-primary"
          >
            {text}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-xs">
    {author} © {currentYear}. <span class="text-neutral"
      >Designed & Developed by</span
    > Moisés Machuca
  </p>
</footer>
